*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  background-color: #202122;
  color: white;
  /* overflow: hidden; */ /* use it in the real animation to make resizing smoother */
}

canvas {
  box-sizing: border-box;
  display: block;
  /* border: 1px solid black; */
  box-shadow: 0 0 0 3px black inset;
  /* height: 300px; */
  /* width: 100vw; */
}
.mouse-position {
  position: fixed;
  top: 0;
  left: 0;
}

.glass {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(10px);
  /* border-radius: 20px; */
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
}

.text {
  /* font-family: Arial, Helvetica, sans-serifs; */
  position: fixed;
  font-size: 20rem;
  left: 50%;
  top: 50%;
  text-shadow: -1px 1px 10px black;
  color: whitesmoke;
  transform: translateX(-50%) translateY(-50%);
}